.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.panel-login {
  display: inline-block;

}
.login-container {
  position: relative;
  top: 35%;
  text-align: center;
}
.hidden {
  display: none;
}

/* For Smartphones */
@media all and (min-width:1px) and (max-width: 800px) {
  .login-container {
    position: relative;
    top: 100px;
    text-align: center;
  }
}
