.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.panel-login {
  position: absolute;
  width: 26%;
  height: 22em;
  top: 29%;
  left: 37%;
}
.hidden {
  display: none;
}
