.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.panel-login {
  display: inline-block;

}
.login-container {
  position: relative;
  top: 35%;
  text-align: center;
}
.hidden {
  display: none;
}
.panel {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
div .radio label {
  display: inline-block;
}

.glyphicon.glyphicon-info-sign {
  color: #DC4405;
}

.table th {
  font-weight: normal;
}


.portionTable {
  padding-bottom: 10px;
  margin-left: 0px;
  line-height: 20px;
}

.question p {
  font-weight: bold;
  padding: 0px;
}

.radio label {
  margin-bottom: 5px;
}

.question {
  padding-top: 25px;
  padding-bottom: 25px;
}

.complex-energy-small-header {
  display: none;
}


.portionTable .col-sm-12{
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
#appliance_14_watts {
    width: 60px;
  }
/* For Smartphones */
@media all and (min-width:1px) and (max-width: 1024px) {
  .login-container {
    position: relative;
    top: 100px;
    text-align: center;
  }
}
@media all and (min-width:1px) and (max-width: 768px) {
  .complex-energy-small-header {
    display: inline;
  }
  .complex-energy-big-header {
    display: none;
  }
}
